<?php

declare(strict_types=1);

namespace {{controllerNamespace}};

use {{handlerNamespace}}\{{apiClassName}};
{{#formRequestClassName}}
use {{formRequestNamespace}}\{{formRequestClassName}};
{{#bodyParam}}
{{#vendorExtensions.x-importClassName}}
use {{modelPackage}}\{{vendorExtensions.x-importClassName}};
{{/vendorExtensions.x-importClassName}}
{{/bodyParam}}
{{/formRequestClassName}}
{{^formRequestClassName}}
use Illuminate\Http\Request;
{{/formRequestClassName}}
use Illuminate\Http\JsonResponse;

{{#controllerFinal}}final {{/controllerFinal}}class {{classname}}
{
    public function __construct(
        private readonly {{apiClassName}} $handler
    ) {}

{{#hasSummary}}
    /**
     * {{summary}}
{{#hasNotes}}
     *
     * {{notes}}
{{/hasNotes}}
     */
{{/hasSummary}}
{{^hasSummary}}
{{#hasNotes}}
    /**
     * {{notes}}
     */
{{/hasNotes}}
{{/hasSummary}}
    public function __invoke(
{{#formRequestClassName}}
        {{formRequestClassName}} $request{{#hasPathParams}},{{/hasPathParams}}
{{/formRequestClassName}}
{{^formRequestClassName}}
        Request $request{{#hasPathParams}},{{/hasPathParams}}
{{/formRequestClassName}}
{{#pathParams}}
        {{dataType}} ${{paramName}}{{^-last}},{{/-last}}
{{/pathParams}}
    ): JsonResponse
    {
{{#hasBodyParam}}
        // Convert validated data to DTO
        $dto = {{bodyParam.dataType}}::fromArray($request->validated());

{{/hasBodyParam}}
{{#hasQueryParams}}
        // Extract query parameters
{{#queryParams}}
{{#isArray}}
        ${{paramName}} = $request->query('{{baseName}}', []);
{{/isArray}}
{{^isArray}}
{{#isInteger}}
        ${{paramName}} = (int) $request->query('{{baseName}}'{{#defaultValue}}, {{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}, {{#required}}0{{/required}}{{^required}}null{{/required}}{{/defaultValue}});
{{/isInteger}}
{{^isInteger}}
        ${{paramName}} = $request->query('{{baseName}}'{{#defaultValue}}, {{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}, null{{/defaultValue}});
{{/isInteger}}
{{/isArray}}
{{/queryParams}}

{{/hasQueryParams}}
        // Delegate to Handler (arguments match HandlerInterface order: path → query → body)
        $resource = $this->handler->{{operationId}}(
{{#pathParams}}
            ${{paramName}}{{^-last}},{{/-last}}{{#-last}}{{#hasQueryParams}},{{/hasQueryParams}}{{^hasQueryParams}}{{#hasBodyParam}},{{/hasBodyParam}}{{/hasQueryParams}}{{/-last}}
{{/pathParams}}
{{#queryParams}}
            ${{paramName}}{{^-last}},{{/-last}}{{#-last}}{{#hasBodyParam}},{{/hasBodyParam}}{{/-last}}
{{/queryParams}}
{{#hasBodyParam}}
            $dto
{{/hasBodyParam}}
        );

        // Resource enforces HTTP code and headers
        return $resource->response($request);
    }
}
