<?php declare(strict_types=1);

namespace {{{modelPackage}}};

{{#queryParamsFinal}}final {{/queryParamsFinal}}class {{className}}
{
    public function __construct(
{{#queryParams}}
        public {{phpType}} ${{paramName}}{{#hasDefault}} = {{{defaultValue}}}{{/hasDefault}},
{{/queryParams}}
    ) {}

    /** @param array<string, mixed> $query */
    public static function fromQuery(array $query): self
    {
        return new self(
{{#queryParams}}
{{#isInteger}}
            {{paramName}}: isset($query['{{baseName}}']) ? (int) $query['{{baseName}}'] : {{{defaultValue}}},
{{/isInteger}}
{{#isNumber}}
            {{paramName}}: isset($query['{{baseName}}']) ? (float) $query['{{baseName}}'] : {{{defaultValue}}},
{{/isNumber}}
{{#isBoolean}}
            {{paramName}}: isset($query['{{baseName}}']) ? (bool) $query['{{baseName}}'] : {{{defaultValue}}},
{{/isBoolean}}
{{#isString}}
            {{paramName}}: $query['{{baseName}}'] ?? {{{defaultValue}}},
{{/isString}}
{{#isArray}}
            {{paramName}}: $query['{{baseName}}'] ?? {{{defaultValue}}},
{{/isArray}}
{{/queryParams}}
        );
    }

    /** @return array<string, mixed> */
    public function toArray(): array
    {
        return [
{{#queryParams}}
            '{{baseName}}' => $this->{{paramName}},
{{/queryParams}}
        ];
    }
}
