<?php

declare(strict_types=1);

namespace {{apiPackage}};

{{#imports}}
use {{import}};
{{/imports}}

/**
 * {{classname}}Interface
 *
 * API Service interface for {{classname}} operations.
 * Implement this interface in your application to handle API requests.
 *
{{#operations}}
{{#operation}}
 * Operation: {{operationId}}
{{/operation}}
{{/operations}}
 *
 * @generated
 */
interface {{classname}}Interface
{
{{#operations}}
{{#operation}}
    /**
{{#summary}}
     * {{summary}}
{{/summary}}
{{#notes}}
     *
     * {{notes}}
{{/notes}}
     *
{{#pathParams}}
     * @param {{#isArray}}array{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}} ${{paramName}} {{description}}
{{/pathParams}}
{{#queryParams}}
     * @param {{#isArray}}array{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}}|null ${{paramName}} {{description}}
{{/queryParams}}
{{#bodyParam}}
     * @param \{{modelPackage}}\{{baseType}} ${{paramName}} {{description}}
{{/bodyParam}}
     * @return mixed
     */
    public function {{operationId}}(
{{#pathParams}}
        {{#isArray}}array{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}} ${{paramName}},
{{/pathParams}}
{{#queryParams}}
        {{#isArray}}array{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}}|null ${{paramName}} = null,
{{/queryParams}}
{{#bodyParam}}
        \{{modelPackage}}\{{baseType}} ${{paramName}}
{{/bodyParam}}
    );

{{/operation}}
{{/operations}}
}
