<?php

declare(strict_types=1);

namespace {{handlerPackage}};

{{#imports}}
use {{import}};
{{/imports}}

/**
 * {{operationIdPascalCase}}ApiHandlerInterface
 *
 * Handler interface for {{operationId}} operation.
 * Implement this to provide business logic.
 *
{{#summary}}
 * {{summary}}
{{/summary}}
{{#notes}}
 *
 * {{notes}}
{{/notes}}
 *
 * @generated
 */
interface {{operationIdPascalCase}}ApiHandlerInterface
{
    /**
{{#summary}}
     * {{summary}}
{{/summary}}
{{#notes}}
     *
     * {{notes}}
{{/notes}}
     *
{{#pathParams}}
     * @param {{#isArray}}array{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}} ${{paramName}} {{description}}
{{/pathParams}}
{{#queryParams}}
     * @param {{#isArray}}array{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}}|null ${{paramName}} {{description}}
{{/queryParams}}
{{#bodyParam}}
     * @param \{{modelPackage}}\{{baseType}} ${{paramName}} {{description}}
{{/bodyParam}}
     * @return mixed
     */
    public function {{operationId}}(
{{#pathParams}}
        {{#isArray}}array{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}} ${{paramName}},
{{/pathParams}}
{{#queryParams}}
        {{#isArray}}array{{/isArray}}{{^isArray}}{{dataType}}{{/isArray}}|null ${{paramName}} = null,
{{/queryParams}}
{{#bodyParam}}
        \{{modelPackage}}\{{baseType}} ${{paramName}}
{{/bodyParam}}
    );
}
