<?php

declare(strict_types=1);

namespace {{handlerPackage}};

{{#responses}}
use {{responsePackage}}\{{operationIdPascalCase}}{{code}}Response;
{{/responses}}

/**
 * {{operationIdPascalCase}}ApiHandlerInterface
 *
 * Handler interface for {{operationId}} operation.
 * Implement this to provide business logic.
 *
{{#summary}}
 * {{summary}}
{{/summary}}
{{#notes}}
 *
 * {{notes}}
{{/notes}}
 *
 * @generated
 */
interface {{operationIdPascalCase}}ApiHandlerInterface
{
    /**
{{#summary}}
     * {{summary}}
{{/summary}}
{{#notes}}
     *
     * {{notes}}
{{/notes}}
     */
    public function {{operationId}}(
{{#pathParams}}
        {{dataType}} ${{paramName}},
{{/pathParams}}
{{#queryParams}}
        {{dataType}}|null ${{paramName}} = null,
{{/queryParams}}
{{#bodyParam}}
        \{{requestPackage}}\{{operationIdPascalCase}}Request ${{paramName}}
{{/bodyParam}}
    ): {{#responses}}{{operationIdPascalCase}}{{code}}Response{{^-last}}|{{/-last}}{{/responses}};
}
