{{#models}}
{{#model}}
<?php

declare(strict_types=1);

namespace {{{modelPackage}}};

{{#vendorExtensions.x-is-php-enum}}
{{#description}}
/**
 * {{description}}
 */
{{/description}}
enum {{classname}}: string
{
{{#vendorExtensions.x-enum-cases}}
    case {{name}} = '{{value}}';
{{/vendorExtensions.x-enum-cases}}
}
{{/vendorExtensions.x-is-php-enum}}
{{^vendorExtensions.x-is-php-enum}}
use Symfony\Component\Validator\Constraints as Assert;

{{#description}}
/**
 * {{description}}
 */
{{/description}}
{{#modelFinal}}final {{/modelFinal}}class {{classname}}
{
{{#vars}}
{{#description}}
    /**
     * {{description}}
{{#isArray}}
     * @var array<mixed>{{#isNullable}}|null{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}|null{{/defaultValue}}{{/required}}{{/isNullable}}
{{/isArray}}
{{#isMap}}
     * @var array<string, mixed>{{#isNullable}}|null{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}|null{{/defaultValue}}{{/required}}{{/isNullable}}
{{/isMap}}
     */
{{/description}}
{{^description}}
{{#isArray}}
    /** @var array<mixed>{{#isNullable}}|null{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}|null{{/defaultValue}}{{/required}}{{/isNullable}} */
{{/isArray}}
{{#isMap}}
    /** @var array<string, mixed>{{#isNullable}}|null{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}|null{{/defaultValue}}{{/required}}{{/isNullable}} */
{{/isMap}}
{{/description}}
{{#required}}
    #[Assert\NotBlank]
{{/required}}
{{#isString}}
    #[Assert\Type('string')]
{{#minLength}}{{#maxLength}}
    #[Assert\Length(min: {{minLength}}, max: {{maxLength}})]
{{/maxLength}}{{/minLength}}
{{#minLength}}{{^maxLength}}
    #[Assert\Length(min: {{minLength}})]
{{/maxLength}}{{/minLength}}
{{^minLength}}{{#maxLength}}
    #[Assert\Length(max: {{maxLength}})]
{{/maxLength}}{{/minLength}}
{{#pattern}}
    #[Assert\Regex('/{{pattern}}/')]
{{/pattern}}
{{/isString}}
{{#isInteger}}
    #[Assert\Type('int')]
{{#minimum}}
    #[Assert\GreaterThanOrEqual({{minimum}})]
{{/minimum}}
{{#maximum}}
    #[Assert\LessThanOrEqual({{maximum}})]
{{/maximum}}
{{/isInteger}}
{{#isLong}}
    #[Assert\Type('int')]
{{#minimum}}
    #[Assert\GreaterThanOrEqual({{minimum}})]
{{/minimum}}
{{#maximum}}
    #[Assert\LessThanOrEqual({{maximum}})]
{{/maximum}}
{{/isLong}}
{{#isNumber}}
    #[Assert\Type('float')]
{{#minimum}}
    #[Assert\GreaterThanOrEqual({{minimum}})]
{{/minimum}}
{{#maximum}}
    #[Assert\LessThanOrEqual({{maximum}})]
{{/maximum}}
{{/isNumber}}
{{#isBoolean}}
    #[Assert\Type('bool')]
{{/isBoolean}}
{{#isArray}}
    #[Assert\Type('array')]
{{#minItems}}
    #[Assert\Count(min: {{minItems}})]
{{/minItems}}
{{#maxItems}}
    #[Assert\Count(max: {{maxItems}})]
{{/maxItems}}
{{/isArray}}
{{#isModel}}
    #[Assert\Valid]
{{/isModel}}
{{#isEmail}}
    #[Assert\Email]
{{/isEmail}}
{{#isUri}}
    #[Assert\Url]
{{/isUri}}
{{#isUuid}}
    #[Assert\Uuid]
{{/isUuid}}
{{#isEnum}}
    #[Assert\Choice([{{#allowableValues}}{{#values}}'{{{.}}}'{{^-last}}, {{/-last}}{{/values}}{{/allowableValues}}])]
{{/isEnum}}
    public {{#isAnyType}}mixed{{/isAnyType}}{{#isFreeFormObject}}{{^isAnyType}}mixed{{/isAnyType}}{{/isFreeFormObject}}{{^isAnyType}}{{^isFreeFormObject}}{{#isNullable}}?{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}?{{/defaultValue}}{{/required}}{{/isNullable}}{{#isArray}}array{{/isArray}}{{#isMap}}array{{/isMap}}{{^isArray}}{{^isMap}}{{{dataType}}}{{/isMap}}{{/isArray}}{{/isFreeFormObject}}{{/isAnyType}} ${{nameInCamelCase}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{^required}}{{^defaultValue}} = null{{/defaultValue}}{{/required}};
{{/vars}}

    /**
{{#vars}}
{{#isArray}}
     * @param array<mixed>{{#isNullable}}|null{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}|null{{/defaultValue}}{{/required}}{{/isNullable}} ${{nameInCamelCase}}
{{/isArray}}
{{#isMap}}
     * @param array<string, mixed>{{#isNullable}}|null{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}|null{{/defaultValue}}{{/required}}{{/isNullable}} ${{nameInCamelCase}}
{{/isMap}}
{{/vars}}
     */
    public function __construct(
{{#vars}}
        {{#isAnyType}}mixed{{/isAnyType}}{{#isFreeFormObject}}{{^isAnyType}}mixed{{/isAnyType}}{{/isFreeFormObject}}{{^isAnyType}}{{^isFreeFormObject}}{{#isNullable}}?{{/isNullable}}{{^isNullable}}{{^required}}{{^defaultValue}}?{{/defaultValue}}{{/required}}{{/isNullable}}{{#isArray}}array{{/isArray}}{{#isMap}}array{{/isMap}}{{^isArray}}{{^isMap}}{{{dataType}}}{{/isMap}}{{/isArray}}{{/isFreeFormObject}}{{/isAnyType}} ${{nameInCamelCase}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{^required}}{{^defaultValue}} = null{{/defaultValue}}{{/required}},
{{/vars}}
    ) {
{{#vars}}
        $this->{{nameInCamelCase}} = ${{nameInCamelCase}};
{{/vars}}
    }

    /** @param array<string, mixed> $data */
    public static function fromArray(array $data): self
    {
        return new self(
{{#vars}}
{{#isDateTime}}
            {{nameInCamelCase}}: isset($data['{{baseName}}']) ? new \DateTime($data['{{baseName}}']) : {{^required}}null{{/required}}{{#required}}throw new \InvalidArgumentException('{{baseName}} is required'){{/required}},
{{/isDateTime}}
{{^isDateTime}}
{{#isEnumRef}}
            {{nameInCamelCase}}: {{#required}}{{{dataType}}}::from($data['{{baseName}}']){{/required}}{{^required}}isset($data['{{baseName}}']) ? {{{dataType}}}::from($data['{{baseName}}']) : null{{/required}},
{{/isEnumRef}}
{{^isEnumRef}}
            {{nameInCamelCase}}: $data['{{baseName}}']{{^required}}{{#defaultValue}} ?? {{{defaultValue}}}{{/defaultValue}}{{^defaultValue}} ?? null{{/defaultValue}}{{/required}},
{{/isEnumRef}}
{{/isDateTime}}
{{/vars}}
        );
    }

    /** @return array<string, mixed> */
    public function toArray(): array
    {
        return [
{{#vars}}
{{#isDateTime}}
{{#required}}
            '{{baseName}}' => $this->{{nameInCamelCase}}->format(\DateTime::ATOM),
{{/required}}
{{^required}}
            '{{baseName}}' => $this->{{nameInCamelCase}}?->format(\DateTime::ATOM),
{{/required}}
{{/isDateTime}}
{{^isDateTime}}
            '{{baseName}}' => $this->{{nameInCamelCase}},
{{/isDateTime}}
{{/vars}}
        ];
    }
}
{{/vendorExtensions.x-is-php-enum}}
{{/model}}
{{/models}}
