<?php

declare(strict_types=1);

namespace {{{queryParamsNamespace}}};

/**
 * {{{className}}}QueryParams
 *
 * Query parameters DTO for {{{operationId}}} operation.
 *
 * @generated
 */
{{#queryParamsFinal}}final {{/queryParamsFinal}}class {{{className}}}QueryParams
{
{{#queryParams}}
{{#description}}
    /**
     * {{{description}}}
{{#isArray}}
     * @var array<mixed>|null
{{/isArray}}
     */
{{/description}}
{{^description}}
{{#isArray}}
    /** @var array<mixed>|null */
{{/isArray}}
{{/description}}
    public {{#isNullable}}?{{/isNullable}}{{^isNullable}}{{^required}}?{{/required}}{{/isNullable}}{{{dataType}}} ${{{paramName}}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{^required}}{{^defaultValue}} = null{{/defaultValue}}{{/required}};
{{/queryParams}}

    /**
{{#queryParams}}
{{#isArray}}
     * @param array<mixed>|null ${{{paramName}}}
{{/isArray}}
{{/queryParams}}
     */
    public function __construct(
{{#queryParams}}
        {{#isNullable}}?{{/isNullable}}{{^isNullable}}{{^required}}?{{/required}}{{/isNullable}}{{{dataType}}} ${{{paramName}}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{^required}}{{^defaultValue}} = null{{/defaultValue}}{{/required}},
{{/queryParams}}
    ) {
{{#queryParams}}
        $this->{{{paramName}}} = ${{{paramName}}};
{{/queryParams}}
    }

    /**
     * Create from query parameters array
     *
     * @param array<string, mixed> $queryParams
     */
    public static function fromQueryParams(array $queryParams): self
    {
        return new self(
{{#queryParams}}
{{#isArray}}
            {{{paramName}}}: isset($queryParams['{{{baseName}}}'])
                ? (is_array($queryParams['{{{baseName}}}'])
                    ? $queryParams['{{{baseName}}}']
                    : explode(',', $queryParams['{{{baseName}}}']))
                : {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}},
{{/isArray}}
{{^isArray}}
{{#isInteger}}
            {{{paramName}}}: isset($queryParams['{{{baseName}}}']) ? (int) $queryParams['{{{baseName}}}'] : {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}},
{{/isInteger}}
{{#isBoolean}}
            {{{paramName}}}: isset($queryParams['{{{baseName}}}']) ? filter_var($queryParams['{{{baseName}}}'], FILTER_VALIDATE_BOOLEAN) : {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}},
{{/isBoolean}}
{{^isInteger}}
{{^isBoolean}}
            {{{paramName}}}: $queryParams['{{{baseName}}}'] ?? {{#defaultValue}}{{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}null{{/defaultValue}},
{{/isBoolean}}
{{/isInteger}}
{{/isArray}}
{{/queryParams}}
        );
    }

    /**
     * Convert to array for validation
     *
     * @return array<string, mixed>
     */
    public function toArray(): array
    {
        return [
{{#queryParams}}
            '{{{baseName}}}' => $this->{{{paramName}}},
{{/queryParams}}
        ];
    }
}
